.wrapper {
  display: flex
}

/* サイドバー */
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

/* ① */
.side-bar-header {
  background-color: #253141;
  height: 100px;
  /* width: 300px; */
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  /* background-color: #253141; */
  /* padding-left: 20px; */
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

/* .create-room {
  padding: 14px;
  border: 1px solid lightblue;
  margin-right: 20px;
} */

.create-room a{
  text-decoration: none;
  font-size: 10px;
  color: deepskyblue;

  border: 1px solid lightblue;
  padding: 14px;
}


/* ② */
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

/* メインチャット */
.chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

/* ③ */
.chat-header {
  height: 100px;
  /* background-color: #FFFFFF; */
  padding: 0 40px;
}

/* ④ */
.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

/* ⑤ */
.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}